nav
{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-weight: bold;
}

.nav-item:hover 
{
     font-style: italic;
     background-color: grey;
}

header
{
    background-image: url(hex.jpg);
    height: 200px;
    width: 100%;
    text-align: center;
}

header h1
{
    font-family: bold;
}

header p
{
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
    font-style: italic;
}