/*To push to GitHub
git status
git add .
git commit -m ""
git push
*/

nav
{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-weight: bold;
}

.nav-item:hover 
{
     font-style: italic;
     background-color: grey;
}

header
{
    background-image: url(hex.jpg);
    height: 300px;
    width: 100%;
    text-align: center;
}

header h1
{
    font-family: bold;
    font-size: 50pt;
}

header p
{
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
    font-style: italic;
}

.services i
{
    font-size: 30px;
    padding: 25px 20px;
    color: #fff;
    background-color: #5bc0de;
    width: 80px;
    height: 80px;
    /*Changes the roundness of the container*/
    border-radius: 50%;
    text-align: center;
}

.services span
{
    width: 200px;
    display: inline-block;
}

.team
{
    text-align: center;
}

.team img
{
    text-align: center;
    border-radius: 50%;
}
 .team #title
 {
     text-align: center;
 }
 
 .team #Name
 {
     text-align: center;
 }